@import 'common.scss';
@import '_minix.scss';
.mui-inner-wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

.mui-scroll-wrapper {
    background: rgb(255, 255, 255);
}

.mui-bar {
    width: 100%;
    height: 140px;
    background: #ffe344;
    padding: 0 10px;
    @include sizing;
    h3 {
        color: rgb(0, 0, 0);
        font-size: 40px;
        span {
            font-size: 18px;
        }
    }
    .head {
        @include box_flex;
        @include align;
        @include justify(space-between);
        margin-top: 20px;
        font-size: 15px;
        .showTime {
            @include box_flex;
            @include justify(space-between);
            @include align;
            span {
                display: block;
                font-size: 15px;
                padding: 3px 10px;
                margin: 0 10px;
                border: 1px solid rgb(0, 0, 0);
                border-radius: 10px;
                b {
                    font-weight: bolder;
                }
            }
        }
    }
    .price {
        line-height: 40px;
        @include box_flex;
        @include justify(space-between);
        @include align;
        font-size: 15px;
    }
}

section {
    width: 100%;
}

footer {
    width: 100%;
    height: 44px;
    background: lightcoral;
    @include box_flex;
    @include align;
    @include justify(space-around);
}